
@{
    ViewData["Title"] = "Reviews";
}


    <thead>
        <tr>
            <th>Movie Name</th>
            <th>User Name</th>
            <th>Star</th>
            <th>Comment</th>
        </tr>
    </thead>
        {
            <tr>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="Review" asp-action="Create" method="get">
    <input class="btn btn-success" value="Add new review" type="submit" />
</form>