@model MovieDB.Models.PlayList

@{
    ViewData["Title"] = "Create a Playlist";
}

<h2>Create a Playlist</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.PlayListName)
        @Html.TextBoxFor(m => m.PlayListName)
        @Html.ValidationMessageFor(m => m.PlayListName, "", new { @class = "text-danger " })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
