@model MovieDB.Models.PlayList

@{
    ViewData["Title"] = "Delete a Movie Playlist";
}

<h2>Are you sure to delete this movie playlist?</h2>

<div>
    <p>PlayList name: @Model.PlayListName</p>
</div>

@using (Html.BeginForm("Delete", "MoviePlayList", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PlayListId)
    <button type = "submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}