@model MovieDB.Models.PlayList

@{
    ViewData["Title"] = "Update Movie Playlist";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.PlayListId)

    <div>
        @Html.LabelFor(m => m.PlayListName)
        @Html.TextBoxFor(m => m.PlayListName)
        @Html.ValidationMessageFor(m => m.PlayListName, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
}
