@model MovieDB.Models.Movie

@{
    ViewData["Title"] = "Delete a Movie";
}

<h2>Are you sure to delete this movie?</h2>

<div>
    <h4>@Model.title</h4>
    <p>@Model.plot</p>
    <p>@Model.year</p>
    <img src="@Model.poster" alt="movie poster" />
</div>

@using (Html.BeginForm("Delete", "Movie", new { id = Model.movieID }, FormMethod.Post))
{
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="/Movie/Index" class="btn btn-secondary">Cancel</a>
}